<form class="container" id="form-js">
  <div class="row">
    <div class="form-group col-sm-6 m-3 mx-0">
      <input class="form-control" type="text" name="title" placeholder="title">
    </div>
    <div class="form-group col-sm-6 m-3 mx-0">
      <input class="form-control" type="text" name="description" placeholder="description">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-12 m-3 mx-0">
      <input class="form-control" type="text" name="url" placeholder="url">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-12 m-3 mx-0">
      <button type="submit" class="btn btn-primary w-100">Submit</button>
    </div>
  </div>
</form>
<ul class="list-group"></ul>